# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [12]:
jupyter nbextension enable --py --sys-prefix gmaps

SyntaxError: invalid syntax (1545296744.py, line 1)

In [13]:
jupyter nbextension enable --py --sys-prefix widgetsnbextension

SyntaxError: invalid syntax (2820615700.py, line 1)

In [10]:
config dir: /usr/local/Cellar/python/3.7.7/Frameworks/Python.framework/Versions/3.7/etc/jupyter/nbconfig

UsageError: Invalid config statement: 'dir: /usr/local/Cellar/python/3.7.7/Frameworks/Python.framework/Versions/3.7/etc/jupyter/nbconfig', should be `Class.trait = value`.

In [16]:
jupyter labextension install @jupyter-widgets/jupyterlab-manager

SyntaxError: invalid syntax (2471653659.py, line 1)

In [3]:
jupyter lab build

SyntaxError: invalid syntax (2485743006.py, line 1)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_load_csv = "output_data/cities2.csv"
vacay_df = pd.read_csv(cities_load_csv)
vacay_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Atuona,-9.8000,-139.0333,77.50,68,5,21.00,PF,1660502471
1,Hermanus,-34.4187,19.2345,42.80,61,97,4.59,ZA,1660502735
2,Saldanha,-33.0117,17.9442,48.25,68,0,11.83,ZA,1660502736
3,Dikson,73.5069,80.5464,42.22,98,100,2.82,RU,1660502736
4,Zhigansk,66.7697,123.3711,53.67,96,100,6.11,RU,1660502737
...,...,...,...,...,...,...,...,...,...
548,Sioux Lookout,50.1001,-91.9170,75.27,64,75,5.75,CA,1660502919
549,Verkhniy Lomov,53.4678,43.5511,65.53,62,98,8.23,RU,1660502920
550,Palana,59.1167,159.9667,52.84,92,100,4.83,RU,1660502920
551,Burnie,-41.0667,145.9167,50.94,86,100,10.38,AU,1660502920
552,Micheweni,-4.9667,39.8333,74.70,78,67,9.69,TZ,1660502921

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
#store
locations = vacay_df[["Lat", "Lng"]].astype(float)
humidity = vacay_df["Humidity"].astype(float)

#plot heatmap
fig = gmaps.figure()
max_intensity = np.max(humidity)

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=2)

#add layer
fig.add_layer(heat_layer)

fig
# plt.savefig("output_data/gmap1.png")

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
ideal_df = vacay_df[    (vacay_df['Max Temp'] > 70) & (vacay_df['Max Temp'] < 80)  ]
ideal_df = ideal_df[ideal_df['Wind Speed'] < 10]
ideal_df = ideal_df[ideal_df['Cloudiness'] == 0]
ideal_df = ideal_df[ideal_df['Humidity'] > 40 & (ideal_df['Humidity'] < 80)]
hotel_df = ideal_df.dropna()
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
19,Sorgun,39.8101,35.1860,72.27,54,0,7.81,TR,1660502741
37,Galesong,-5.3166,119.3661,71.62,77,0,4.65,ID,1660502747
172,Ponta do Sol,32.6667,-17.1000,78.01,77,0,2.86,PT,1660502794
181,Kalispell,48.1958,-114.3129,79.29,32,0,6.91,US,1660502551
186,Fernie,49.5000,-115.0687,77.09,27,0,5.97,CA,1660502798
229,Hay River,60.8156,-115.7999,76.89,44,0,5.93,CA,1660502728
247,Elbistan,38.2059,37.1983,76.66,59,0,5.50,TR,1660502817
291,Yangi Marg`ilon,40.4272,71.7189,79.52,41,0,6.91,UZ,1660502834
303,Cedar City,37.6775,-113.0619,79.39,57,0,3.44,US,1660502772
336,Cuamba,-14.8031,36.5372,72.23,36,0,4.54,MZ,1660502848
360,Coromandel,-18.4733,-47.2003,79.75,26,0,7.16,BR,1660502855
361,Erciş,39.0287,43.3586,72.48,35,0,2.21,TR,1660502856
413,Yumen,40.2833,97.2000,71.49,28,0,6.08,CN,1660502874
425,Manicoré,-5.8092,-61.3003,75.15,100,0,3.44,BR,1660502877
452,Pombia,45.6530,8.6336,79.86,48,0,4.61,IT,1660502887
503,Alaşehir,38.3508,28.5172,76.53,49,0,4.54,TR,1660502904
513,Hwange,-18.3693,26.5019,74.25,19,0,2.26,ZW,1660502908
532,Araxá,-19.5933,-46.9406,78.76,31,0,4.61,BR,1660502914

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df['Hotel Name'] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
19,Sorgun,39.8101,35.1860,72.27,54,0,7.81,TR,1660502741,
37,Galesong,-5.3166,119.3661,71.62,77,0,4.65,ID,1660502747,
172,Ponta do Sol,32.6667,-17.1000,78.01,77,0,2.86,PT,1660502794,
181,Kalispell,48.1958,-114.3129,79.29,32,0,6.91,US,1660502551,
186,Fernie,49.5000,-115.0687,77.09,27,0,5.97,CA,1660502798,
229,Hay River,60.8156,-115.7999,76.89,44,0,5.93,CA,1660502728,
247,Elbistan,38.2059,37.1983,76.66,59,0,5.50,TR,1660502817,
291,Yangi Marg`ilon,40.4272,71.7189,79.52,41,0,6.91,UZ,1660502834,
303,Cedar City,37.6775,-113.0619,79.39,57,0,3.44,US,1660502772,
336,Cuamba,-14.8031,36.5372,72.23,36,0,4.54,MZ,1660502848,
360,Coromandel,-18.4733,-47.2003,79.75,26,0,7.16,BR,1660502855,
361,Erciş,39.0287,43.3586,72.48,35,0,2.21,TR,1660502856,
413,Yumen,40.2833,97.2000,71.49,28,0,6.08,CN,1660502874,
425,Manicoré,-5.8092,-61.3003,75.15,100,0,3.44,BR,1660502877,
452,Pombia,45.6530,8.6336,79.86,48,0,4.61,IT,1660502887,
503,Alaşehir,38.3508,28.5172,76.53,49,0,4.54,TR,1660502904,
513,Hwange,-18.3693,26.5019,74.25,19,0,2.26,ZW,1660502908,
532,Araxá,-19.5933,-46.9406,78.76,31,0,4.61,BR,1660502914,

In [13]:
# Identifying hotels with lat and lng
for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# params dictionary to update each iteration
        params = {
        "keyword": "hotels",
        "radius": 5000,
        "types": "hotel",
        "key": g_key
        }
# store lat, lng
        lat = row['Lat']
        lng = row['Lng']

# change location each iteration while leaving original params in place
        params['location'] = f"{lat}, {lng}"

# make request and print url
        hotel_data = requests.get(base_url, params=params).json()
    
# save the hotel name to dataframe
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
# Some data may be missing we incorporate a try-except to skip any that are missing a data point.
    except (KeyError, IndexError):
        
        hotel_df.loc[index, "Hotel Name"] = "NaN"
        
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
19,Sorgun,39.8101,35.1860,72.27,54,0,7.81,TR,1660502741,SAFA SORGUN THERMAL HOTEL WELLNESS & SPA
37,Galesong,-5.3166,119.3661,71.62,77,0,4.65,ID,1660502747,Wisata Pantai Bintang Galesong
172,Ponta do Sol,32.6667,-17.1000,78.01,77,0,2.86,PT,1660502794,Enotel Sunset Bay
181,Kalispell,48.1958,-114.3129,79.29,32,0,6.91,US,1660502551,Hilton Garden Inn Kalispell
186,Fernie,49.5000,-115.0687,77.09,27,0,5.97,CA,1660502798,Best Western Plus Fernie Mountain Lodge
229,Hay River,60.8156,-115.7999,76.89,44,0,5.93,CA,1660502728,Ptarmigan Inn
247,Elbistan,38.2059,37.1983,76.66,59,0,5.50,TR,1660502817,Grand Elbistan Park Hotel
291,Yangi Marg`ilon,40.4272,71.7189,79.52,41,0,6.91,UZ,1660502834,TANTANA HOTEL FERGANA
303,Cedar City,37.6775,-113.0619,79.39,57,0,3.44,US,1660502772,Courtyard by Marriott Cedar City
336,Cuamba,-14.8031,36.5372,72.23,36,0,4.54,MZ,1660502848,Daania Residence
360,Coromandel,-18.4733,-47.2003,79.75,26,0,7.16,BR,1660502855,Diamante Rosa Palace Hotel
361,Erciş,39.0287,43.3586,72.48,35,0,2.21,TR,1660502856,DİLMAN GOLD OTEL ERCİŞ
413,Yumen,40.2833,97.2000,71.49,28,0,6.08,CN,1660502874,NaN
425,Manicoré,-5.8092,-61.3003,75.15,100,0,3.44,BR,1660502877,Curica Hotel
452,Pombia,45.6530,8.6336,79.86,48,0,4.61,IT,1660502887,Hotel Villa Malpensa
503,Alaşehir,38.3508,28.5172,76.53,49,0,4.54,TR,1660502904,Can Deluxe Hotel
513,Hwange,-18.3693,26.5019,74.25,19,0,2.26,ZW,1660502908,Baobab Hotel
532,Araxá,-19.5933,-46.9406,78.76,31,0,4.61,BR,1660502914,Fenix Hotel Araxá

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))